/*GLOBAL STYLES */

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7ff;
    color: #333;
}

/* NAVIGATION BAR*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background: white;
    box-shadow: 0 2px 12px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

nav h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    background: linear-gradient(90deg, #ff6a6a, #ff974d);
    -webkit-background-clip: text;
    color: transparent;
}

nav .links a {
    text-decoration: none;
    font-size: 18px;
    margin-left: 25px;
    color: #555;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.25s;
}

nav .links a:hover {
    background-color: #ffece0;
    color: #ff6a00;
}

.active {
    background-color: #ffe6d6 !important;
    color: #ff6a00 !important;
}

/*HERO SECTION*/
.hero {
    padding: 110px 40px;
    text-align: center;
    background: linear-gradient(to right, #ffe8dc, #fff4e8);
}

.hero h1 {
    font-size: 50px;
    font-weight: 700;
}

.hero p {
    width: 70%;
    margin: auto;
    font-size: 20px;
    color: #555;
}

.button-primary {
    padding: 14px 30px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(90deg, #ff6a6a, #ff8a3d);
    color: white;
    cursor: pointer;
    margin: 20px;
}

.button-secondary {
    padding: 14px 30px;
    border-radius: 25px;
    background: white;
    border: 2px solid #ddd;
    color: #555;
    cursor: pointer;
}

/* FORMS (Login + Submit)*/
.form-container {
    width: 55%;
    margin: 50px auto;
    background: white;
    padding: 35px;
    border-radius: 16px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.1);
}

.form-container h2 {
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: 0.2s;
}

/*   PROJECT CARDS*/
.grid {
    width: 90%;
    margin: auto;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-6px);
}

.card img {
    width: 100%;
    border-radius: 12px;
    height: 170px;
    object-fit: cover;
}

.delete-btn {
    background: #ff4d4d;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

/*    PROJECT DETAILS PAGE */
.details-container {
    width: 60%;
    margin: 35px auto;
    background: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.12);
}

.details-container img {
    width: 100%;
    border-radius: 14px;
    margin-bottom: 20px;
}


